body{
    font-size: 16 px;
    color:black;
    background-color:teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/******* Header *********/
#header-nav{
    background-color:rgb(150, 185, 185);
    border-radius: 0;
    border: 0;
    height: 80px;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(7, 87, 87);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration:none;
}
#nav-list{
    margin-top:10px;
}
#nav-list a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    background-color:rgb(150, 185, 185);
}
#nav-list a:hover{
    background: teal;
}
#nav-list a span{
   font-size: 1.8em; 
}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
    border:1px solid teal;
}
/******* End Of Header ********/

#home {
	margin-bottom: 30px;
}
h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}
.row {
	
	position: relative;
	float: left;
}
.row > div > article {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(150, 185, 185);
    margin: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right:10px ;
    padding-top:10px;
}
 h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
 }


